@section Title{
    @ViewBag.Title
}

@{
    if (ViewBag.Case == "all"){
         <text>
    <div class="page-header">
  <h1>@MembershipAppsMessages.ALL_APPS <small>(@(MembershipAppsMessages.BUILDING))</small></h1>
</div>
    </text>
    
    
    }else{
    <text>
<div class="page-header">
  <h1>@MembershipAppsMessages.MY_APPS</h1>
</div>
    </text>
    
    }
    }


