
    <div class="details">
@{ 	
    SFSdotNet.Framework.Web.Mvc.Models.MenuTabModel model = new SFSdotNet.Framework.Web.Mvc.Models.MenuTabModel();
    string moduleKey = "";
   
    string objectKey = "";
    string menuKey = "";
   
            
    //model.TabId = "tabs";
    //SFSdotNet.Framework.Web.Mvc.Models.MenuTabItemModel menuItem = null;

        
    //    menuItem = new MenuTabItemModel();
    
    //    menuItem = new SFSdotNet.Framework.Web.Mvc.Models.MenuTabItemModel();
    //    menuItem.Text = GlobalMessages.NEWS;
    //    menuItem.Link = VirtualPathUtility.ToAbsolute("~/") + "Contents/News/?moduleKey="  + moduleKey + "&objectKey=" + objectKey  + "&menuKey=" + menuKey;
    //    menuItem.Index = 0;
    //    model.Items.Add(menuItem);
    //    menuItem = new MenuTabItemModel();
    
    //    menuItem = new SFSdotNet.Framework.Web.Mvc.Models.MenuTabItemModel();
    //    menuItem.Text = GlobalMessages.HELP;
    //    menuItem.Link = VirtualPathUtility.ToAbsolute("~/") + "Contents/Helps/?moduleKey=" + moduleKey + "&objectKey=" + objectKey + "&menuKey=" + menuKey;
    //    menuItem.Index = 1;
    //    model.Items.Add(menuItem);

  
  
	
	
    //Html.RenderPartial("MenuTabs", model); 
 
    }
</div>