<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>




    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />

    <!--<section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SFSdotNet.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="payPal" type="System.Configuration.NameValueSectionHandler" />
    <!--<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="mef">
      <section name="composition" type="MefMvcFramework.Configuration.CompositionConfigurationSection, MefMvcFramework"/>
    </sectionGroup>-->


  </configSections>

  

  <appSettings>
    <add key="ida:ClientId" value="[replace]" />
    <add key="ida:ClientSecret" value="[replace]" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}{1}" />
    <add key="ida:RedirectUri" value="https://domain/SFSdotNetFrameworkSecurity/Public/ExternalLoginCallback" />
    
    <add key="Office365ClientId" value="[replace]" />
    <add key="Office365ClientSecret" value="[replace]" />
    <add key="Office365Authority" value="https://login.microsoftonline.com/[replace]/" />
    <add key="Office365Resource" value="https://outlook.office365.com" />
    <add key="Office365RedirectUri" value="http://localhost:26070/Home/Index" />
    <add key="Office365TaksRedirectUri" value="http://localhost:26070/Token/OfficeTaksToken" />
    <add key="Office365TasksRestApi" value="https://outlook.office.com/api/beta/me/tasks" />
    <add key="Office365TaskFoldersRestApi" value="https://outlook.office.com/api/beta/me/taskfolders" />
    <add key="Office365CalendarEventsRestApi" value="https://outlook.office.com/api/v2.0/me/events" />
    <add key="Office365CalendarRedirectUri" value="http://localhost:26070/Token/OfficeCalendarToken" />
    <add key="GoogleApplicationName" value="[replace]" />
    <add key="GoogleClientId" value="[replace]" />
    <add key="GoogleClientSecret" value="[replace]" />
    <add key="GoogleCalendarScope" value="https://www.googleapis.com/auth/calendar" />
    <add key="GoogleTasksScope" value="https://www.googleapis.com/auth/tasks" />
    <add key="GoogleDeveloperAccount" value="*@gmail.com" />

    <add key="AuthenticationType" value="ApplicationCookie" />
    
    <add key="UseRedisCache" value="false" />
    <add key="CacheType" value="InMemory" />
    <add key="RedisConnectionString" value="[replace].redis.cache.windows.net,ssl=true,password=[replace]" />

    

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="AutoInjectPermissionsOnStartup" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    
    
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ReCaptchaPrivateKey" value="[replace]" />
    <add key="ReCaptchaPublicKey" value="[replace]" />
    <add key="RecaptchaPrivateKey" value="[replace]" />
    <add key="RecaptchaPublicKey" value="[replace]" />
    <add key="PayPalUsername" value="*@mailinator.com" />
    <add key="PDTToken" value="[replace]" />
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <!--//URL para PayPal a nivel Live-->
    <add key="headertype" value="withlogo" />
    <add key="EncryptionKey" value="ZeroCool" />
    <add key="DefaultGlobalization" value="es-mx" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=*;AccountKey=*" />
    <add key="StorageStaticType" value="AzureBlob" />
    <add key="StorageStaticDomainPath" value="*.blob.core.windows.net" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="MicrosoftClientId" value="0000000040123F12" />
    <add key="MicrosoftClientSecret" value="9TSzdpn5GxgqIN2nKxgAArNDCcUWT-HZ" />-->
    <add key="GoogleClientId" value="[replace]" />
    <add key="GoogleClientSecret" value="[replace]" />
    <add key="MicrosoftClientId" value="[replace]" />
    <add key="MicrosoftClientSecret" value="[replace]" />
    <add key="TwitterConsumerKey" value="[replace]" />
    <add key="TwitterConsumerSecret" value="[replace]" />
    <add key="FacebookAppId" value="[replace]" />
    <add key="FacebookAppSecret" value="[replace]" />
    <add key="FacebookUrlPicture" value="http://graph.facebook.com" />

    
  </appSettings>



  <applicationSettings>
    <SFSdotNet.Framework.Properties.Settings>
      <setting name="SmtpServer" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SmtpUser" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SmtpDefaultFrom" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SmtpEnableSSL" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SmptFromName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EFCaching" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EFCachingLimit" serializeAs="String">
        <value>0</value>
      </setting>
    </SFSdotNet.Framework.Properties.Settings>
  </applicationSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="350000000" requestValidationMode="2.0" targetFramework="4.5" maxUrlLength="1000" relaxedUrlToFileSystemMapping="true" />
    <httpModules>
      <add name="LocalizationModule" type="SFSdotNet.Framework.Web.Mvc.LocalizationModule, SFSdotNet.Framework.Web.Mvc" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <!--<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />-->
    </httpHandlers>
    <sessionState mode="InProc" cookieless="false" timeout="60" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>-->
        <!--<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        -->
        <!--<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <!--
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>-->
        <!--<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
      <!--<buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>-->
    </compilation>
    <trust level="Full" />
    <authentication mode="None">
      <forms loginUrl="~/SFSdotNetFrameworkSecurity/Public/Login" timeout="60" />
    </authentication>
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>



    </profile>
    <!--<roleManager enabled="false">
      <providers>
        <clear/>
        -->
    <!--<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>-->
    <!--
      </providers>
    </roleManager>-->
    <pages validateRequest="false" enableSessionState="true" enableEventValidation="false">
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="MvcContrib.FluentHtml.Behaviors" />
        <add namespace="MvcContrib.FluentHtml.Expressions" />
        <add namespace="MvcContrib.FluentHtml.Html" />
        <add namespace="MvcContrib.FluentHtml" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Routing" />
        <add namespace="Rpx4Mvc" />
        <!--<add namespace="MvcReCaptcha.Helpers" />-->
        <add namespace="SFSdotNet.Framework.Web.Mvc" />
        <add namespace="SFSdotNet.Framework.Web.Mvc.Helpers" />
        <add namespace="SFSdotNet.Framework.Web.Mvc.Models" />
        <add namespace="SFSdotNet.Framework.Web.Mvc.Resources" />
     
        
      </namespaces>
    </pages>


    <!--<globalization culture="es-MX" enableClientBasedCulture="true" fileEncoding="iso-8859-1" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" uiCulture="es-MX" />-->
    <globalization culture="en-us" enableClientBasedCulture="false" fileEncoding="iso-8859-1" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" uiCulture="en-us" resourceProviderFactoryType="SFSdotNet.Framework.Globalization.Provider.DBResourceProviderFactory, SFSdotNet.Framework" />
    <customErrors mode="Off" />
    
    
  </system.web>
  <system.webServer>
    <!--<serverRuntime enabled="true"  frequentHitThreshold="1"  frequentHitTimePeriod="00:00:20" />-->
    
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <add name="LocalizationModule" type="SFSdotNet.Framework.Web.Mvc.LocalizationModule, SFSdotNet.Framework.Web.Mvc" />
      <remove name="FormsAuthentication" />
      <remove name="FormsAuthenticationModule" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <rewrite>
      <rules>
        <rule name="fingerprint">
          <match url="([\S]+)(/v-[0-9]+/)([\S]+)" />
          <action type="Rewrite" url="{R:1}/{R:3}" />
        </rule>

        <rule name="RedirectRule" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <action type="Redirect" url="http://appecosys.com/{R:1}" redirectType="Permanent" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="(shellsfs1.azurewebsites.net|applicationecosystem.com|appecosys.azurewebsites.net)" />

          </conditions>
        </rule>



      </rules>
    </rewrite>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxUrl="10999" maxQueryString="9999" maxAllowedContentLength="350000000"/>
      </requestFiltering>
    </security>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
            <dependentAssembly>
        <assemblyIdentity name="System.Linq.Dynamic" publicKeyToken="b72be0322d1b32a8" />
        <bindingRedirect oldVersion="1.1.15.40642" newVersion="1.1.14.16455" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Dynamic" publicKeyToken="b72be0322d1b32a8" />
        <bindingRedirect oldVersion="1.1.14.15527" newVersion="1.1.14.16455" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Dynamic" publicKeyToken="b72be0322d1b32a8" />
        <bindingRedirect oldVersion="1.1.13.22252" newVersion="1.1.14.16455" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="10.0.0.0" />
     
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="5.5.3.0" newVersion="5.5.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5022.0" newVersion="2.0.5022.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>

    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />

    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>